.fondo{
    background-image: url(../images/king_james.jpg);
    background-position: 10%; 
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
          
}
.fondoM{
    background-color: rgb(146, 9, 9);
    color: rgb(148, 143, 143)
}
.fondoL{
    background-color:  rgb(101, 0, 179);
    color: rgb(148, 143, 143)
}

.fondoSobrenos{
    background-color: #333;    
}