.alto{ 
    display: flex;
    justify-content: space-between;
    justify-content: right;
    height: 60px;
    background: #171717;
    width: 100%;
    z-index: 100;
    }

.navbar {
    display: flex;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 
    Geneva, Verdana, sans-serif;
    margin-right: 10px;
    
    & a{
        display: flex;
        padding: 20px 20px;
        color: #ffffff;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 15px; 


        &:hover{
            transform: translateY(-3px) scale(1.05);
            box-shadow: 0 3px 3px 0px rgba(0, 0, 0, .2);
            filter: none;
        }
        
    }

    
    & .Cleaveland:hover{
        background-color: rgb(83, 16, 10);
    }

    & .Miami:hover{
        background-color: rgb(255, 7, 7)   
    }
    & .LosAngeles:hover{    
        background-color:  rgb(142, 3, 248);
    }
}